.app-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #b0aadf;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.app-input {
  flex: 8; /* Takes up 80% of the available space */
  /* margin-right: 20px; Adjust margin for spacing */
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
  width: 80%;
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: #ffffff;
  color: #888; /* Adjust the color property for a greyish text */
}

.app-button {
  flex: 1; /* Takes up 20% of the available space */
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  background-color: var(--primaryPurple);
  color: var(--white);
  height: auto;
  width: 20%;
  padding: 0.8rem 2rem;
  border: none;
  border-radius: 6px;
  font-weight: 500;
  font-size: 1.6rem;
  text-decoration: none;
  text-transform: capitalize;
  cursor: pointer;
  overflow: hidden;
  margin-left: 120px;
}
